<div class="container is-fluid">
<div class="card">
  <div class="card-content">
<div class="title">Edit <%= resource_name.to_s.humanize %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label">Email</label>
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"leave blank if you don't want to change it", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-envelope"></i>
        </span>
      </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <label class="label">Password</label>
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"leave blank if you don't want to change it", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-key"></i>
        </span>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
  </div>

  <div class="field">
    <label class="label">Password Confirmation</label>
    <div class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-key"></i>
        </span>
      </div>
  </div>

  <div class="field">
    <label class="label">Current Password</label>
    <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"leave blank if you don't want to change it", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-lock"></i>
        </span>
        <br />
    <i>we need your current password to confirm your changes</i>
    </div>
  </div>

  <br />
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Update", class:"button is-success" %>
    </div>

    <div class="control">
      <%= link_to "Back", :back, class:"button is-link" %>
    </div>

  </div>


</div>
</div>


<% end %>

<br />
<br />



<div class="card">
  <div class="card-content">
    <div class="subtitle"><strong>Unhappy? Cancel my account</strong></div>
    <div class="content">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-danger" %>
    </div>
  </div>
</div>

</div>

<br />

