<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <label class="label">First Name</label>
      <div class="control has-icons-left">
        <%= form.text_field :first_name, class:"input"%>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-user"></i>
        </span>
      </div>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
      <div class="control has-icons-left">
        <%= form.text_field :last_name, class:"input"%>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-user"></i>
        </span>
      </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
      <div class="control has-icons-left">
        <%= form.text_field :email, class:"input"%>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-envelope"></i>
        </span>
      </div>
  </div>

  <div class="field">
    <label class="label">Phone</label>
      <div class="control has-icons-left">
      <%= form.text_field :phone, class:"input"%>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-phone"></i>
        </span>

      </div>
  </div>

  <div class="field">
    <label class="label">Issue Description</label>
      <div class="control has-icons-left">
        <%= form.text_field :twitter, class:"input"%>
        <span class="icon is-small is-left">
          <i class="fa-solid fa-message"></i>
        </span>
      </div>
  </div>

  <br/>

  <div class="field">
      <%= form.number_field :user_id, id: :friend_user_id, class:"input", value:current_user.id, type:"hidden" %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class:"button is-success", value: "Create ticket" %>
    </div>

  </div>
<% end %>
