<% if user_signed_in? %>

<div class="container is-fluid">
<div class="card">

  <div class="card-content">
  <div class="title">Tickets</div>
  <br />
  <div class="table-container">
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Issue Description</th>
      <th>Created Date</th>
      <th>Update Date</th>
    </tr>
  </thead>

  <tbody>

    <% @friends.each do |friend| %>
      <% if friend.user == current_user%>
      <tr>

        <td><%= link_to friend.first_name + " "+friend.last_name, friend%></td>
        <td><%= friend.email%></td>
        <td><%= friend.phone%></td>
        <td><%= friend.twitter%></td>
        <td><%= friend.created_at.strftime('%m-%d-%Y')%></td>
        <td><%= friend.updated_at.strftime('%m-%d-%Y')%></td>
      </tr>
      <% end %>
    <% end %>

  </tbody>

</table>

<%= link_to "New ticket", new_friend_path, class:"button is-success" %>

</div>
</div>
</div>
</div>

<% else %>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome to Duke FixIt!
    </p>
    <br/>
    <p class="subtitle">
      FixIt issue tracking system for problems that students notice around campus, such as a cracked dorm window, malfunctioning handicap door button, etc.
    </p>
  </div>
</section>


<% end %>


