<div class="container is-fluid">
<div class="card">
  <div class="card-content">

    <div class="title">
      <i class="fas fa-user"></i>
      &nbsp
      <%= @friend.first_name%>
      <%= @friend.last_name%>
    </div>
    <div class="content">
    <i class="fas fa-envelope"></i>
      <strong>Email:</strong>
      <%= @friend.email%>
      <br/>
      <i class="fas fa-phone"></i>
      <strong>Phone:</strong>
      <%= @friend.phone%>
      <br/>
      <br/>

      <div class="notification is-primary is-light">
      <h2>Issue:</h2>
        <%= @friend.twitter%>
      </div>
      <i class="fas fa-calendar-alt"></i>
      <strong>Created at:</strong>
      <%= @friend.created_at.strftime('%H:%M:%S, %m-%d-%Y')%>
      &nbsp &nbsp
      <i class="fas fa-calendar-check"></i>
      <strong>Updated at:</strong>
      <%= @friend.updated_at.strftime('%H:%M:%S, %m-%d-%Y')%>
      <br/>

      </div>
    </div>
  </div>
<br/>
<div class="field is-grouped">
  <p class="control">
    <%= link_to "Edit", edit_friend_path(@friend), class:"button is-link"%>
  </p>
  <p class="control">
    <%= link_to "Back", friends_path, class:"button" %>
  </p>
  <% if user_signed_in? %>
  <p class="control">
    <%= button_to "Delete", @friend, method: :delete, class:"button is-danger" %>
  </p>
  <% end %>
</div>
</div>
</div>


