<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="container is-fluid">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://cdn.jsdelivr.net/gh/declan-haojin/blog-image//duke/FixIt-logo.png" width="130" height="30">
    </a>
    <%# <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
    </a> %>
  </div>

  <div id="navMenu" class="navbar-menu is-active">
    <div class="navbar-start">
        <%= link_to 'Home', root_path, class:"navbar-item" %>
        <%= link_to 'New Ticket', new_friend_path, class:"navbar-item"%>
        <%= link_to 'About Us', home_about_path, class:"navbar-item"%>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

            <% if user_signed_in? %>
            <%= link_to 'Profile', edit_user_registration_path, class:"button is-primary"%>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"button is-light"%>
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path, class:"button is-primary"%>
              <%= link_to 'Log in', new_user_session_path, class:"button is-light"%>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<div>
</nav>
