<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>Duke FixIt</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.jsdelivr.net/gh/declan-haojin/blog-image//duke/FixIt favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/0785af7e62.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <%= render 'home/header' %>

    <br/>
    <div class="container">
      <% if notice %>
       <%= render "layouts/notification"%>
      <% end %>

    <%= yield %>

    </div>
  </body>

   </br>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Duke FixIt</strong> by <a href="https://haojin.li">Haojin Li</a>. The source code is licensed under the
      <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.
    </p>
  </div>
</footer>
</html>
